.container{
    border-radius: 20px;
    background-color: rgb(21, 80, 146);
    width: 300px;
    padding: 5px;
    justify-content: space-between;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 1.55px 1.5px 1.5px 1.5px black;

}
td{
   /* font-size : 1.3rem; */
  padding: 5px;
  box-sizing: border-box;
}
.container div{
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
#today, #friday, #wednesday{
    background-color: yellow;
}
#tuesday, #monday, #class{
    background-color: rgb(168, 222, 240);
}
#tuesday, #thursday, #sunday{
    background-color: black;
}
#saturday, #home{
    background-color: whitesmoke;
}
.main{
    margin: auto;
    display: flex;
    gap: 5px;
    flex-direction:column;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    
}
.main h1{
    font-size: 2rem;
}
body{
    /* background-color: rgb(75, 204, 243); */
    background-image: url(https://cdn.pixabay.com/photo/2023/10/30/19/10/clouds-8353592_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}